/*set b/g color here if necessary*/
html,body {
  height:100%;
}

input {
  display: none;
}

#list {
  font-family: Lobster;
  font-size:60px;
  color: #515473;
}

#circle-wrapper {
  position: relative;
  left: 50%;
  top: 100px;
  margin-left: -250px;
  width: 498px;
  height: 498px;
  padding-top: 290px;
  text-align: center;
}

.category {
  position: absolute;
  width: 98px;
  height: 61px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  padding-top: 37px;
  border-radius: 500px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease, margin-left 0.3s ease, left 0.3s ease, top 0.3s ease;
  -webkit-transform: scale(0.001) rotate(0deg) translate(0px);
  border: 7px solid #515473;
  cursor: default;
  -webkit-user-select: none;
}

.category.circle-lined-up {
  margin-left: 0;
  top: -50px;
}

.category.circle-lined-up.circle-one-circle {
  margin-left: -50px;
}

.category span {
  display: none;
}

.category:hover span{
  display: inline;
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  font-size: 30px;
}

.category.circle-lined-up.circle-active {
  background: #F36559 !important;
  display: inline;
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  font-size: 30px;
}

.category.circle-lined-up.circle-active span{
  display: inline;
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  font-size: 30px;
}

a {
  text-decoration: none;
  text-align: center;
}

#coffee {
  background: url(/img/coffee.png) center center no-repeat;
}

#coffee:hover {
  background: #F36559;
}

#breakfast {
  background: url(/img/eggs.png) center center no-repeat;
}

#breakfast:hover {
  background: #F36559;
}

#foodcart {
  background: url(/img/food-cart.png) center center no-repeat;
}

#foodcart:hover {
  background: #F36559;
}

#lunch {
  background: url(/img/sandwich.png) center center no-repeat;
}

#lunch:hover {
  background: #F36559;
}

#dinner {
  background: url(/img/dinner.png) center center no-repeat;
}

#dinner:hover {
  background: #F36559;
}

#dessert {
  background: url(/img/pie.png) center center no-repeat;
}

#dessert:hover {
  background: #F36559;
}


#drinks {
  background: url(/img/wine.png) center center no-repeat;
}

#drinks:hover {
  background: #F36559;
}



/*
#F26558*/
