html,body {
  height:100%;
}

#list {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}

#circle-wrapper {
  position: relative;
  left: 50%;
  top: 100px;
  margin-left: -250px;
  width: 498px;
  height: 498px;
  <!--border-radius: 500px;-->
  <!--border: 1px solid black;-->
}

.circle {
  position: absolute;
  width: 98px;
  height: 61px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  padding-top: 37px;
  text-align: center;
  border-radius: 500px;
  transition: transform 0.5s ease-out;
  transform: scale(0.001) rotate(0deg) translate(0px);
  border: 7px solid #515473;
  opacity: 0.5
}

#circle-1:hover::before {
  content: attr(title);
}

#circle-1 {
  background: url(/img/coffee.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}

/*#circle-2 {
  background: url(/img/eggs.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}*/

/*#circle-3 {
  background: url(/img/food-cart.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}

#circle-4 {
  background: url(/img/sandwich.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}

#circle-5 {
  background: url(/img/dinner.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}

#circle-6 {
  background: url(/img/pie.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}

#circle-7 {
  background: url(/img/wine.png) center center no-repeat;
  -webkit-transform: rotate(100deg) translate(250px) rotate(-100deg);
}*/
