<div class="row">
  <h1 class="well">Update your $cuisine.getFoodType():</h1>

  <form action="/cuisines/$cuisine.getId()/update" method="post">
    <label for="foodtype">New Food Type</label>
    <input id="foodtype" name="foodtype" type="text">
    <button type="submit" class="btn btn-sucess">Submit</button>
  </form>



<form action="/cuisines/$cuisine.getId()/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
