<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Jeremy's List</title>
  <!--  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script src="js/jquery.min.js"></script>
    <script src='js/app.js'></script>
    <link rel='stylesheet' href='css/app.css'>
  </head>
  <body>
      #parse( "templates/navbar.vtl")
      #parse( $template )

  </body>
</html>
