<ul>
  #foreach ($restaurant in $newCategory.getRestaurants())
    <li>
      <p="restaurant-name">$restaurant.getName() $restaurant.getHours()</p>
      <p>$restaurant.getAddress()</p>
      <p>$restaurant.getPhone()
      <a href="$restaurant.getWebsite()">website</a>
      <a href="$restaurant.getYelp()">yelp</a>
      </p>
    </li>
  #end
</ul>
